/* GENERAL STYLES */
@font-face {
  font-family: 'Fragment';
  src: url('/fonts/Fragmentcore.otf');
}

img {
  max-width: 100%;
}

body {
   font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
   font-size: 0.85em;
   color: #1C292E;
   background-color: #1C292E;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

.bubble {
  margin-bottom: 5em;
  padding: 3%;
  background-color: #FFFFFF;
  border-radius: 7px;
}

/* HEADER STYLES */
header {
  background-color: tomato;
  padding: 1%;
  margin-bottom: 2%;
}

header a.logo {
  text-decoration: none;
  font-family: 'Fragment';
  margin-left: 2%;
  font-size: 3.5em;
  text-decoration: none;
  color: #1C292E;
}

header a.logo:hover {
  color: #000000;
}

.user_control {
  text-align: right;
  float: right;
}

.user_control a {
  text-decoration: none;
  color: #1C292E;
  line-height: 1.5em;
}

.user_control a:hover {
  color: #000000;
}

.header_form {
  list-style-type: none;
}

ul.header_form li {
  display: inline;
  margin-left: 2em;
}

/* TITLE STYLES */
h2 {
  margin-bottom: 1em;
  padding: 3%;
  background-color: #FFFFFF;
  border-radius: 7px;
  color: tomato;
}


/* IMAGE SEARCH STYLES */
.tag {
  text-align: center;
  background-color: #efefef;
  border-radius: 3px;
  border: 1px solid #dedede;
  padding: 0.5%;
  line-height: 2em;
}

.tag a {
  text-decoration: none;
  color: #444444;
}

/* FORM STYLES */
form {
  display: inline;
}

input {
  background-color: #FFFFFF;
  border: 1px solid #dedede;
  color: #444444;
}
input:hover {
  background-color: #efefef;
}