  <% if connected? != nil %>
    <%= erb :feed %>
  <% elsif logged_in? != nil %>
    <div class="roundbubble">
      <p><a href="/oauth/connect">connect with Instagram?</a></p>
    </div>
  <% else %>
    <%= erb :browse %>
  <% end %>