<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title>jian</title>
  </head>
  <body>
    <header class="sixteen columns">
      <h1><a href="/">jian</a></h1>
      <% if session[:id] == nil %>
        <!-- login link
        sign up link -->
      <% else %>
        <!-- user name with link to profile
        logout button
        tag search bar?-->
      <% end %>
    </header>
    <div class="container">
      <div class="eight columns offset-by-four">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
