<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title>jian</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a class="logo" href="/">jian</a>
        <div class="user_control">
          <% if logged_in? %>
          <ul class="header_form">
            <li>
              <form id="search-tags" method="post" action="/tags">
                <input type="text" name="tagsearch" placeholder="search tag">
                <input type="submit" value="search">
               </form>
             </li>
             <li>
              <form id="logout" method="post" action="/sessions/<%= @user.id %>">
                <input name="_method" type="hidden" value="delete" />
                <input type="submit" value="Logout">
              </form>
            </li>
           </ul>
          <% else %>
            <ul class="header_form">
              <li>
                <form id="login_form" action="/sessions" method="post">
                User Name: <input type="text" name="username" placeholder="username" required>
                Password: <input type="password" name="password" placeholder="password" required>
                <input type="submit" value="Login">
                </form>
              </li>
              <li><a href="/users/new">Create Account?</a></li>
            </ul>
          <% end %>
        </div>
      </header>
      <div class="container">
        <div class="eight columns offset-by-four">
          <% if logged_in? %>
            <div class="userbar">
              <ul>
                <li class="userbar_tag"><a href="/tags">tags</a></li>
                <li class="userbar_popular"><a href="/images">popular</a></li>
                <li class="userbar_browse"><a href="/users/<%= session[:id] %>/images">tracked</a></li>
              </ul>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <footer>
       <p><a href="http://azywong.github.io/">Allison Wong</a> | <a href="http://instagram.com">Instagram</a></p>
      </footer>
    </div>
  </body>
</html>
