<div class="bubble">
  <form id="signup_form" action="/users" method="post">
  <p>User Name:<br>
    <input type="text" name="user[username]" placeholder="unique username"></p>
  <p>Name:<br>
    <input type="text" name="user[name]" placeholder="name"></p>
  <p>Email:<br>
    <input type="text" name="user[email]" placeholder="email@example.com"></p>
  <p>Password:<br>
    <input type="password" name="user[password]" placeholder="password"></p>
  <input type="submit" value="Submit">
  </form>
</div>